body {
  background-color: rgb(243, 243, 92);
  margin: 0;
  font-family: Pokemon Solid;
  font-weight: 400;
}
.container {
  padding: 50px;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}


h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.pokemonID {
  font-family: Pokemon Hollow;
}

.name,
.name2 {
  font-family: Pokemon solid;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

/* .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
} */
.card {
  position: sticky;
  top: 0.25rem;
}

.emphsis {
  font-family: Pokemon solid;
}


.card-text {
  font-family: HIRO MISAKE;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.emphasis {
  font-family: Pokemon solid;
}

.back-of-card {
  display: none;
}

#pokemonID {
  width: 48%;
  margin: 2px;
  border: 5px solid black;
}

#pokemonID2 {
  width: 48%;
  margin: 2px;
  border: 5px solid black;
}

#moreInfo {
  width: 100%;
  border: 5px solid black;
  margin: 2px;
}

.card-title,
.card-title2 {
  margin: auto;
  height: auto;
  display: block;
}
.showFlavorText,
.showFlavorText2 {
  font-style: italic;
  font-size: 18px;
}

.card2 {
  display: none;
}
