body {
  background-color: rgb(243, 243, 92);
  margin: 50px;
  font-family: Pokemon Solid;
  font-weight: 400;
}

.row1 {
  height: 20%;
  position: sticky;
  top: 0;
  margin-left: 30%;
  margin-right: 0%;
  width: 60%;
}

.pokemonList {
  width: 400px;
  padding: 10px;
  margin: 40px;
}


h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

/* .pokemonID {
  font-family: Pokemon Hollow;
} */

.name,
.name2 {
  font-family: Pokemon solid;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: rgb(233, 73, 10);
  text-shadow:
		-5px -1px 0 #000,
		1px -1px 0 #000,
		-5px 1px 0 #000,
		1px 1px 0 #000;
	
}

.card {
  border: 5px solid black;
  
}

.card-text {
  font-family: HIRO MISAKE;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.emphasis {
  font-family: Pokemon solid;
  font-weight: bold;
  
}

.back-of-card {
  display: none;
  /* display: flex; */
  /* align-items: center; */

}

#pokemonID {
  width: 22%;
  margin: 2px;
  border: 5px solid black;
  color: rgb(98, 149, 225);
  background-color: rgb(255, 94, 0);
}

#pokemonID2 {
  width: 20%;
  margin: 2px;
  border: 5px solid black;
  background-color: rgb(255, 94, 0);
  color: rgb(98, 149, 225);
}

#moreInfo {
 width: 100%;
 border: 5px solid black;
 margin: 2px;
}

#filterList {
  width: 25%;
  border: 5px solid black;
  margin: 2px;
 }

.card-title,
.card-title2 {
  margin: auto;
  display: block;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
}
.showFlavorText,
.showFlavorText2 {
  font-style: italic;
  font-size: 18px;
}

li {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png")
    no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
  display: block;
  cursor:pointer;
  border:none;
  width:100px;
  height:100px;
}


button {
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    border-radius: 25%;
}

h1 {
  text-align: center;
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;

}

.btn-success {
  background-color: rgb(255, 94, 0);
  color: rgb(98, 149, 225);
}


/* #list {
  text-shadow:
		-1px -1px 0 rgb(110, 21, 21),
		1px -1px 0 rgb(110, 21, 21),
		-1px 1px 0 rgb(110, 21, 21),
		1px 1px 0 rgb(110, 21, 21);
} */
